.topGunPart{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topGunTable{
    width: 70%;
    height: 70%;
    background-color: red;
}
